<md-dialog aria-label="Add new requirement" ng-cloak style="min-width: 75%;">
    <form name="NewRequirementForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Requirement</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-library="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="row">
                <div class="md-dialog-content" flex-xs flex-gt-xs="50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Title</label>
                        <input ng-model="vm.requirement.title" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>ID: {{vm.project.id}}-</label>
                        <input ng-model="vm.requirement.id" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="vm.requirement.description" md-maxlength="150" rows="5"
                                  md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div class="md-dialog-content" flex-xs flex-gt-xs="50">
                    <div flex>
                        <md-button ng-class="vm.requirement.functional ? 'md-raised md-primary' : 'md-raised'"
                                   ng-click="vm.changeFunctional()">Functional
                        </md-button>
                        <md-button ng-class="vm.requirement.functional ? 'md-raised' : 'md-raised md-primary'"
                                   ng-click="vm.changeFunctional()">Non-Functional
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                    <div flex>
                        <md-button ng-class="vm.requirement.subtype == 0 ? 'md-raised md-primary' : 'md-raised'"
                                   ng-click="vm.changeSubtype(0)">Primary
                        </md-button>
                        <md-button ng-class="vm.requirement.subtype == 1 ? 'md-raised md-primary' : 'md-raised'"
                                   ng-click="vm.changeSubtype(1)">Derived
                        </md-button>
                        <md-button ng-class="vm.requirement.subtype == 2 ? 'md-raised md-primary' : 'md-raised'"
                                   ng-click="vm.changeSubtype(2)">Candidate
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                    <div flex>
                        <label>Keywords</label>
                        <div layout="row" layout-wrap>
                            <md-input-container class="md-block" flex="100"
                                                ng-repeat="keyword in vm.keywords">
                                <label>Keyword</label>
                                <textarea ng-model="keyword.value" columns="1"
                                          md-maxlength="50" rows="1" aria-multiline="true"
                                          aria-required="true"
                                          aria-invalid="true" ng-trim="false">
                            </textarea>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.addNewKeyword()"> Add New Keyword</md-button>
            <md-button ng-click="vm.cancel()"> Cancel</md-button>
            <md-button ng-click="vm.save()" class="md-primary"> Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
