<md-card>
    <md-card-title>
        <md-card-title-text>
            <div flex layout-align="end center" layout="row">
                <div flex layout-align="start center" layout="row">
                    <h3>
                        {{vm.requirement.title}}
                    </h3>
                    <span flex></span>
                </div>
                #{{vm.requirement.id}}
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div flex>
            {{vm.requirement.description}}
        </div>
        <ng-show ng-show="vm.refinements != null && vm.refinements.length > 0">
            <div flex>
                <Label>System requirements</Label>
                <md-divider></md-divider>
                <refinement-list-item refinement="refinement" flex-xs flex-gt-xs="33"
                                      ng-repeat="refinement in vm.refinements"></refinement-list-item>
                <md-divider></md-divider>
            </div>
        </ng-show>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-action" ng-click="vm.showDetails()">
            Details
        </md-button>
        <md-button class="md-warn" ng-click="vm.showConfirm()">
            <md-icon md-font-library="material-icons">delete</md-icon>
            Delete
        </md-button>
    </md-card-actions>
</md-card>
